.u-section-1 .u-sheet-1 {
  min-height: 901px;
}

.u-section-1 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 6rem;
  text-transform: uppercase;
  text-shadow: -2px -12px 16px rgba(71,138,201,0.55);
  margin: 15px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 126px auto 0 305px;
  padding: 37px 60px 37px 59px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -96px 305px 0 auto;
  padding: 37px 43px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 91px auto 60px;
  padding: 4px 185px 4px 184px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}