@page
@model Hjemmeside.Pages.InformationModel
@{
}

<title>Information</title>

<table class = "table">
	<thead>
		<tr>
			<th>Antal kroner solgt for</th>
			<th>Antal solgte drinks</th>
			<th>Antal liter solgt</th>
			<th>Mest solgte drink</th>
		</tr>
	</thead>
	<tbody>
		<td>@Model.antalKroner</td>
	</tbody>
</table>