 .u-section-1 {
  min-height: 900px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 58px 238px 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 22px calc(((100% - 1140px) / 2) + 73px) 0;
}

.u-section-1 .u-table-1 {
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-block-60d6-49 {
  border-style: dotted;
}

.u-block-60d6-48 {
  border-style: dotted;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-1 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-2 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-3 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-4 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-5 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-6 {
  padding: 10px 20px;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-8 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-9 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-10 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-11 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-12 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-13 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-14 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-15 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-16 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-17 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-18 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-19 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-20 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-21 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-22 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-23 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-24 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-25 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-26 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-27 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-28 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-29 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-30 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-31 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-32 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-33 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-34 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-35 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-36 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-37 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-38 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-39 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-40 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-41 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-42 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-block-60d6-35 {
  background-image: none;
}

.u-block-60d6-42 {
  padding: 10px 20px;
}

.u-block-60d6-43 {
  padding: 10px 20px;
}

.u-block-60d6-44 {
  padding: 10px 20px;
}

.u-block-60d6-45 {
  padding: 10px 20px;
}

.u-block-60d6-84 {
  padding: 10px 20px;
}

.u-block-60d6-92 {
  padding: 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 764px;
    margin-left: calc(((100% - 1140px) / 2) + 188px);
    margin-right: calc(((100% - 1140px) / 2) + 188px);
  }

  .u-section-1 .u-text-2 {
    width: 894px;
    margin-right: calc(((100% - 1140px) / 2) + 173px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-right: calc(((100% - 1140px) / 2) + 260px);
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 350px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-right: calc(((100% - 1140px) / 2) + 450px);
  }
}